
<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title>Ecom</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1" />

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/Projects/main.css' %}">

    <script type="text/javascript">
        var user = '{{request.user}}';

        function getToken(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = cookies[i].trim();
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        var csrftoken = getToken('csrftoken');

        function getCookie(name) {
            var cookieArr = document.cookie.split(";");
            for (var i = 0; i < cookieArr.length; i++) {
                var cookiePair = cookieArr[i].split("=");
                if (name == cookiePair[0].trim()) {
                    return decodeURIComponent(cookiePair[1]);
                }
            }
            return null;
        }
        var cart = JSON.parse(getCookie('cart'));
        if (cart == undefined) {
            cart = {};
            document.cookie = 'cart=' + JSON.stringify(cart) + ";domain=;path=/";
        }
        console.log('Cart:', cart);
    </script>
</head>
<body>
<header class=" pb-3  " style="background-color:Violet">
    <nav class="navbar navbar-expand-lg navbar-dark  sticky-top" style="background-color:black">
        <a class="navbar-brand" href="{% url 'store' %}">Ecom</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'store' %}">Store <span class="sr-only">(current)</span></a>
                </li>
            </ul>
            <div class="form-inline my-2 my-lg-0">
                <button id="loginBtn" class="btn btn-warning m-2 " type="button">Login</button>
                <button id="signupBtn" class="btn btn-success" type="button">Sign Up</button>
                <a href="{% url 'cart' %}">
                    <img id="cart-icon" src="{% static 'images/cart.png' %}">
                </a>
                <p id="cart-total">{{cartItems}}</p>
                <a href="{% url 'home' %}" class="m-2 text-warning text-decoration-none ">Go to My Portfolio</a>
            </div>
        </div>
    </nav>

    <div class="container">
        <br>
        {% block content %}
        {% endblock content %}
    </div>
</header>

<!-- Login Modal -->
<div id="loginModal" class="modal">
    <div class="modal-content">
        <span class="close" id="closeLogin">&times;</span>
        <h2>Login</h2>
        <form id="loginForm">
            <div class="input-box">
                <label for="username">Username</label>
                <input type="text" id="username" name="username" required>
            </div>
            <div class="input-box">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" required>
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
            <p class="register-link">Don't have an account? <a href="#" id="toSignup">Sign up</a></p>
        </form>
    </div>
</div>

<!-- Sign Up Modal -->
<div id="signupModal" class="modal m-4">
    <div class="modal-content">
        <span class="close" id="closeSignup">&times;</span>
        <h2>Sign Up</h2>
        <form id="signupForm">
            <div class="input-box">
                <label for="new-username">Username</label>
                <input type="text" id="new-username" name="username" required>
            </div>
            <div class="input-box">
                <label for="new-password">Password</label>
                <input type="password" id="new-password" name="password" required>
            </div>
            <div class="input-box">
                <label for="confirm-password">Confirm Password</label>
                <input type="password" id="confirm-password" name="confirm-password" required>
            </div>
            <button type="submit" class="btn btn-primary">Sign Up</button>
            <p class="register-link">Already have an account? <a href="#" id="toLogin">Login</a></p>
        </form>
    </div>
</div>

<!-- JavaScript to handle the modals -->
<script>
    var loginModal = document.getElementById("loginModal");
    var signupModal = document.getElementById("signupModal");
    var loginBtn = document.getElementById("loginBtn");
    var signupBtn = document.getElementById("signupBtn");
    var closeLogin = document.getElementById("closeLogin");
    var closeSignup = document.getElementById("closeSignup");

    // Open login modal
    loginBtn.onclick = function() {
        loginModal.style.display = "block";
    }

    // Open signup modal
    signupBtn.onclick = function() {
        signupModal.style.display = "block";
    }

    // Close login modal
    closeLogin.onclick = function() {
        loginModal.style.display = "none";
    }

    // Close signup modal
    closeSignup.onclick = function() {
        signupModal.style.display = "none";
    }

    // Close modal when clicking outside
    window.onclick = function(event) {
        if (event.target == loginModal) {
            loginModal.style.display = "none";
        } else if (event.target == signupModal) {
            signupModal.style.display = "none";
        }
    }

    // Handle form submission for login
    document.getElementById('loginForm').addEventListener('submit', function(event) {
        event.preventDefault();
        alert('Login Successful!'); // Add your login logic here
        loginModal.style.display = "none"; // Close modal
    });

    // Handle form submission for signup
    document.getElementById('signupForm').addEventListener('submit', function(event) {
        event.preventDefault();
        alert('Sign Up Successful!'); // Add your sign-up logic here
        signupModal.style.display = "none"; // Close modal
    });

    // Switch from login to signup
    document.getElementById('toSignup').onclick = function() {
        loginModal.style.display = "none";
        signupModal.style.display = "block";
    }

    // Switch from signup to login
    document.getElementById('toLogin').onclick = function() {
        signupModal.style.display = "none";
        loginModal.style.display = "block";
    }
</script>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script type="text/javascript" src="{% static 'js/cart.js' %}"></script>


</body>
</html>